/* Initially developed by trevarj at https://github.com/trevarj/glasscord-nord/ */

:root {
  --window-background-material: "acrylic";
  --window-background-color: #00000000;
}

html,
body {
  background: transparent;
}

.theme-dark {
  --background-primary: transparent;
  --background-primary-alt: #2e344010;
  --background-secondary: #2e344010;
  --background-secondary-base: 46, 52, 64; /* #2e3440 */
  --background-secondary-chat: #2e344010;
  --background-secondary-alt: #2e344010;
  --background-tertiary: #3b425210;
  --background-logo: #2e3440a080;
  --deprecated-card-bg: #3b425210;
  --deprecated-store-bg: #3b425210;
  --background-attachments: #3b425210;
  --background-search-bar: #4c566a10;
  --background-switcher: #3b425210;
  --background-chatbox: #4c566a10;
  --background-lights-out: #000;
  --background-pinned: #2f313010;
  --background-profile-expand: #3b425210;
  --background-emoji: #3b425210;
  --text-lights-out: #f0f0f0;
  --background-titlebar: #2e344010;
}

/* ! Look into this */
.theme-dark
  .scrollerThemed-2oenus.themedWithTrack-q8E3vB
  .scroller-3vVt8d::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border: 4px solid transparent;
}

/* ! Look into this */
.theme-dark
  .scrollerThemed-2oenus.themedWithTrack-q8E3vB
  .scroller-3vVt8d::-webkit-scrollbar-thumb {
  background-color: #20222550;
}

/* 433979 */
.theme-dark .container-2cd8Mz {
  background-color: transparent;
}

/* 768864 */
.theme-dark .card-2ART2V:before {
  background-color: #33363c90;
}

/* 569851 */
.theme-dark .codeRedemptionRedirect-2hYMSQ {
  background-color: #2f313650;
  border-color: #20222550;
}

/* 968370 */
.theme-dark .pageWrapper-2PwDoS {
  background-color: transparent;
}

/* 235451 */
.withFrame-2dL45i {
  height: 18px;
  margin-top: 0;
  padding-top: 4px;
}

/* 510872 */
.premiumPromo-1eKAIB {
  background-color: var(--background-secondary-chat);
  backdrop-filter: blur(2px);
}

/* 411325 */
.unread-36eUEm {
  height: 4px;
  width: 4px;
  margin-top: -2px;
  border-radius: 2px 2px 2px 2px;
}

/* 179799 */
.newMessagesBar-1hF-9G .barBase-3xxDXu {
  border-radius: 8px;
  padding-bottom: 0;
}

/* 399920 */
.platform-win .sidebar-1tnWFu {
  border-radius: 0;
}

/* 174866 */
.platform-osx .scroller-3X7KbA {
  padding-top: 32px;
  -webkit-mask: linear-gradient(#0000, #fff 32px);
}

/* 174866 */
.platform-osx .wrapper-1_HaEi {
  margin-top: 0;
}

/* 235451 */
.typeMacOS-3V4xXE .titleBar-1it3bQ {
  background-color: transparent !important;
}

/* 174866 */
.platform-osx .unreadMentionsIndicatorTop-2bTgUU {
  top: 32px;
}

/* 398868 */
.platform-osx .back-ZdqB1k {
  -webkit-app-region: no-drag;
}

/* 398868 */
.platform-osx .button-3_1yil {
  -webkit-app-region: no-drag;
}

/* 127919 */
.messagesPopoutWrap-3zryHW {
  background-color: var(--background-pinned);
}

/* ! 838229 Note: Has no notice class */
/*.notice-2FJMB4 {
  background-color: var(--background-secondary) !important;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}*/

/* ! 898920 or 687042 */
.emojiPicker-6YCk8a {
  background-color: var(--background-emoji);
}

/* 378355 */
.appMount-2yBXZl {
  background-color: transparent;
}

/* 854735 */
.app-2CXKsg {
  background-color: transparent;
}

/* 232469 */
.attachment-1PZZB2 .horizontal-1Piu5- .flex-3BkGQD .directionRow-2Iu2A9 .alignCenter-14kD11 {
  background-color: var(--background-attachments) !important;
}

/* 273413 */
.header-3OsQeK {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* 779622 */
.privateChannels-oVe7HL {
  background-color: transparent;
}

/* 619531 */
.root-8LYsGj {
  background-color: var(--background-profile-expand);
}

/* 937106 */
.container-1NXEtd {
  background-color: transparent;
}

/* 794921 */
.inset-SbsSFp {
  background-color: var(--background-secondary) !important;
}

/* 25327 */
/*.container-3Mmg92.themed-Hp1KC_ {*/
.cointainer-1r6BKw.themed-ANHk51 {
  background-color: var(--background-secondary);
}

/* 174866 */
.wrapper-1_HaEi {
  background-color: var(--background-secondary);
}

/* 984187 */
.childWrapper-2VY8PD {
  background-color: var(--background-logo);
}

/* 202772 */
.circleIconButton-1VxDrg {
  background-color: var(--background-logo);
}

/* 966805 */
.searchBar-jGtisZ {
  background-color: var(--background-search-bar);
}

/* 779622, Search bar on home menu */
.searchBar-3TnChZ {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: var(--background-secondary);
}

/* 247630 */
.searchHeader-1r_ZSh {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

/* 748355 */
.channelNameText-2q3Lge {
  background-color: transparent;
}

/* 988206, maybe container-rZM65Y */
.searchResult-O9NDji:before {
  background-image: none;
}

/* 988206, maybe container-rZM65Y */
.searchResult-O9NDji:after {
  background-image: none;
}

/* We no longer have these, they were used for server boosts */
/*
.perksModal-fSYqOq {
  background-color: transparent !important;
}

.ctaBar-2UsjF2 {
  background-color: var(--background-attachments) !important;
}

this turned into tierCard
.tierBody-16Chc9 {
  background-color: var(--background-secondary-chat) !important;
}

this turned into topPerksCard
.perk-2WeBWW {
  background-color: var(--background-attachments) !important;
}
*/

/* 258875 */
.content-1jQy2l:before {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* 433979 */
.tabBody-2dgbAs:before {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* 248231 */
.container-3u6dG-:before {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*
Kinda app store thing, kinda just nitro thing, idk. Now it's auto-2TJ1RH in 441086
.container-xm7Ad0:before {
  -webkit-box-shadow: none;
  box-shadow: none;
}
*/

/* 779622 */
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background-color: var(--background-search-bar);
}

/* 582095 */
.scroller-WSmht3 {
  background-color: transparent;
}

/* 174866 */
.scroller-3X7KbA {
  background-color: var(--background-secondary);
}

/* 116707 */
.quickswitcher-pKcM9U {
  background-color: var(--background-switcher);
}

/* 9180 Not the slightest clue what this is
.wrapper-2aW0bm {
  background-color: var(--background-primary-alt);
}
*/

/* 988206 */
.message-24k8JL {
  background-color: var(--background-primary-alt);
}

/* 116707 */
.scroller-2qwVWY {
  background-color: transparent;
}

/* 710978 */
.embedFull-1HGV2S.embed-hKpSr0 {
  background-color: var(--background-attachments);
}

/* 113358 */
.messagesWrapper-RpOMA3 {
  margin-bottom: 8px;
}

/* 399920 */
.panels-3wFtMD {
  background-color: transparent;
}

/* 235451 */
.titleBar-1it3bQ {
  background-color: var(--background-titlebar);
}

/* 36627 */
.uploadArea-2Nu_Vc {
  background-color: var(--background-lights-out);
}

/* 842157 */
.backdropWithLayer-2VVmpp {
  background-color: var(--background-lights-out) !important;
}

/* 842157 */
.backdrop-2ByYRN {
  background-color: var(--background-lights-out) !important;
}

/* 533366 */
.downloadLink-3cavAH {
  color: var(--text-lights-out) !important;
}

/* 858456 */
.bg-1QIAus {
  -webkit-mask-image: linear-gradient(#000f, #0000) !important;
}

/* 686390 */
.scrollableContainer-15eg7h {
  background-color: var(--background-chatbox);
}

/* Inner box on My Account page around all fields */
.fieldList-in8WkP {
  background-color: transparent;
}

/* Bottom of Privacy & Safety, Top of Authorized Apps */
.card-2guEcY:not(.outline-3kFzf8) {
  background-color: var(--deprecated-card-bg);
}

/* Inside of uploaded plaintext file */
.codeView-12LUIl {
  background-color: transparent;
}

/* Member list background of individual user */
.member-2gU6Ar {
  background-color: transparent;
}

/* --__header-bar-background, [aria-label="Channel header"] */
.themed-Hp1KC_ {
  /* This element is next to elements nearby that use background-secondary,
  however they are stacked. To mimic this, we change the opacity to act as
  though we're stacked
  */
  background-color: rgba(var(--background-secondary-base), 0.75) !important;
}

/* On home screen, right side now playing column */
.nowPlayingColumn-1eCBCN {
  /* Read comment in .themed-Hp1KC_ */
  background-color: rgba(var(--background-secondary-base), 0.75);
}
